<app-navigation-menu-user></app-navigation-menu-user>
<div class="container" >
    <div class="row">
      <div class="col">
          
        <div class="container">
            <div class="row">
                    <h1>{{titulo}} </h1>
                    <hr>
                    <h3>Seleccione la Fecha que desea</h3>
                    <div class="col-8">
                        <select name="miselect" [(ngModel)]="seleccionado" class="form-control" style="color: white; background-color: #1D2833; border-radius: 15px;">
                            <option [value]="item" *ngFor="let item of lista">{{item}}</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <a type="button" class="btn btn-primary" href="http://localhost:4200/menuprincipal/dashboard/general/{{seleccionado}}" style="color: white; background-color: #1D2833;">Buscar</a>
                    </div>                 
                     
            </div>
            <br>

            <div class="row">
                <div class="col-6">
                    <div class="card" style="width: 21rem; background-color: #1D2833; color: white; margin-bottom: 15px; border-radius: 15px; padding: 5px;">
                        <div class="card-body">
                          <h3 class="font-weight-normal">Categoria mas vendida</h3>
                          <h3 class="font-weight-normal">{{listaCategorias[0].nombre}}</h3>
                          <h3 class="font-weight-normal">Cantidad vendida: {{listaCategorias[0].cantidad}}</h3>
                          <h2 class="ffont-weight-bold">Total de ventas: {{listaCategorias[0].precioTotal}}</h2>                      
                        </div>
                      </div>
                </div>
                <div class="col-6">
                    <div class="card" style="width: 21rem; background-color: #1D2833; color: white; border-radius: 15px; padding: 5px;">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="card-body">
                                        <h3 class="font-weight-normal">Talla mas vendida</h3>
                                        <h3 class="font-weight-normal">{{listaTallas[0].nombre}}</h3>
                                        <h3 class="font-weight-normal">Cantidad vendida: {{listaTallas[0].cantidad}}</h3>
                                        <h2 class="font-weight-bold">Total de ventas: {{listaTallas[0].precioTotal}}</h2>                      
                                      </div>
                                </div>

                            </div>

                        </div>
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card" style="width: 21rem; background-color: #1D2833; color: white; border-radius: 15px; padding: 5px;">
                        <div class="card-body">
                          <h3 class="font-weight-normal">Total de ventas realizado:</h3>
                          <h3 class="font-weight-normal">Cantidad de ventas:{{TotalVenta.cantidadCompras}}</h3>
                          <h2 class="font-weight-bold">Total de ventas: {{TotalVenta.costoTotal}}</h2>                 
                        </div>
                      </div>
                </div>
            </div>

            

        </div>

      </div>
      <div class="col-5">

        <div class="container" style="width: 32rem; background-color: #1D2833; padding-top: 30px; border-radius: 15px;">
            <div class="row">
                <h1 style="color: white;">Productos mas vendidos del año</h1>
            </div>
            <div class="row"  *ngFor="let producto of listaProductos">
                <div class="card" style="width: 33rem; height: 9.5rem; background-color: rgb(21, 44, 44); color: white; margin-bottom: 15px; border-radius: 15px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                <div class="card-body">
                                    <img [src]="image" class="rounded-circle" style="width: 6rem; height: 6rem;" alt="...">
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h2 class="card-title">{{producto.nombre}}</h2>
                                    <p class="card-text">Total en ventas: {{producto.precioTotal}}$</p>
                                    <p class="card-text">Cantidad vendido: {{producto.cantidad}}</p>
                                  </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

      </div>
    </div>
    <div class="row">
        <div style="margin: 40px; padding: 60px; background-color: #b8dcff; border-radius: 15px;">
            <div>
                <div style="display: block">
                    <canvas baseChart
                        [data]="barChartData"
                        [options]="barChartOptions"
                        [type]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="margin: 40px; padding: 60px; background-color: #b8dcff; border-radius: 15px;">
            <div>
                <div class="chart">
                    <canvas baseChart
                        [data]="pieChartData"
                        [type]="pieChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>




  

