* {
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
    font-family: 'Lobster', cursive;
    font-family: 'Handlee', cursive;
    font-weight: 700;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
}

.btn {
    width: 100px;
    height: 50px;
    margin: 10px 10px;
    background-color: #085394;
    color: #eeeeee;
}

.btn:hover {
    color: #085394;
    background-color: #eeeeee;
}

.btn-danger {
    background-color: rgb(255, 72, 72);
    color: #eeeeee;
}

.btn-danger:hover {
    color: red;
    background-color: #eeeeee;
}

#contenido-principal {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    display: block;
    padding-top: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../../../assets/img/fondo-img-cinco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#titulo-principal {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    color: #085394;
    background-color: transparent;
}

#titulo-principal h1 {
    background-color: transparent;
    color: #eeeeee;
    font-weight: bold;
}

#contenido {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    background-color: transparent;
}

.form-categorias {
    display: block;
    width: 40%;
    height: 500px;
    padding: 40px;
    background-color: #eeeeee;
    overflow: scroll;
}

.btn {
    width: 200px;
}