<app-navigation-menu-user></app-navigation-menu-user>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Crear Cuenta</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Fist Name</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Last Name</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Password</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <button type="submit" class="btn btn-primary mb-2" style="">registrarse</button>
              </form>                  
        </div>
        <div class="col-4"></div>
    </div>
</div>
<app-footer-user></app-footer-user>