* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
    text-align: start;
}

#titulo-principal {
    color: #085394;
    /*Este margin hacia que la pantalla este mas ancha de lo normal margin: 1% 0px 0px 100px;*/
    font-family: 'Balsamiq Sans', cursive;
    font-size: 32px;
    text-decoration: underline;
    margin-left: 4%;
}

@media(max-width:750px) {
    #titulo-principal {
        font-size: 24px;
    }
}

#contenido {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    /*No sirve en display-inline*/
    height: 96%;
    padding: 2% 5%;
    /*No sirve en display:inline*/
}

#img-fondo {
    background-image: url(./../../../assets/img/img_fondo_menu_principal.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    text-align: start;
    padding: 2%;
    overflow: scroll;
}

#opciones-menu {
    width: 100%;
    background-color: #eeeeee;
    color: black;
}

#opciones-menu tr:hover {
    background-color: #085394;
}

#opciones-menu td {
    background-color: transparent;
}

#opciones-menu td {
    width: 33%;
    height: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 20px;
    padding-left: 50px;
}

#bienvenido {
    margin-left: 80%;
}

#encabezado {
    font-weight: bold;
    height: 100px;
}

.btn-formato-general {
    background-color: #085394;
    color: white;
    margin: 10px;
    border: 2px black solid;
    padding: 5px 10px;
    width: 160px
}