<h2 id="bienvenido">Bienvenido ...</h2>
<h1 id="titulo-principal">PRODUCTOS DE LA TIENDA</h1>
<div id="contenido">
    <div id="img-fondo">
        <table id="opciones-menu" class="table table-striped">
            <tr id="encabezado">
                <td>Nombre del producto</td>
                <td>Cantidad</td>
                <td>Precio</td>
                <td>Tipo</td>
                <td>Talla</td>
                <td>Color</td>
                <td>Descripcion</td>
            </tr>
            <tr *ngFor="let producto of productos" (click)="direccionarABMproductos()">
                <td>{{producto.nombre}}</td>
                <td>Cantidad</td>
                <td>{{producto.precio}}</td>
                <td>Tipo</td>
                <td>Talla</td>
                <td>Color</td>
                <td>{{producto.descripcion}}</td>
            </tr>
        </table>
    </div>
</div>