<div id="contenido-principal">
    <div id="contenido-principal-respaldo">
        <div id="contenido-usuario-comentarios">
            <div id="contenido-usuario">
                <div id="img-usuario">
                    <img src="../../../assets/img/img_usuario_perfil.jpg" class="card-img-top" alt="...">
                </div>
                <div id="info-usuario">
                    <div id="info-usuario-respaldo">
                        <div id="nombre-usuario">
                            <p>Nombre de usuario: {{usuarioSeleccionado.nombre+" "+usuarioSeleccionado.apellido}}</p>
                        </div>
                        <div id="inf-usuario-dos">
                            <br> email: {{usuarioSeleccionado.email}}
                            <br> Numero de compras: 69 compras
                            <br> Fecha creacion de cuenta: dd/mm/aaaa
                        </div>
                    </div>
                </div>
            </div>
            <div id="comentarios">
                <table class="table table-striped" id="tabla-usuarios">
                    <tr>
                        <th class="" scope="col">ID comentario</th>
                        <th class="Nombre" scope="col">Contenido</th>
                        <th class="Email" scope="col">Fecha comentario</th>
                        <th classscope="col">Nombre del producto</th>
                        <th classscope="col">Estado</th>
                    </tr>
                    <tr *ngFor="let comentario of comentarios">
                        <th class="" scope="col">{{comentario[0]}}</th>
                        <th class="Nombre" scope="col">{{comentario[1]}}</th>
                        <th class="Email" scope="col">{{comentario[2]}}</th>
                        <th classscope="col">{{comentario[3]}}</th>
                        <div *ngIf="comentario[4]==0">
                            <button (click)="habilitarComentario(comentario[0])" type="button" class="btn btn-primary" style="width: 200px;">Habilitar</button>
                        </div>
                        <div *ngIf="comentario[4]==1">
                            <button type="button" (click)="deshabilitarComentario(comentario[0])" class="btn btn-danger" style="width: 200px;">Deshabilitar</button>
                        </div>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>