<div id="contenido-principal">
    <div id="contenido-principal-respaldo">
        <div id="contenido-usuario-comentarios">
            <div id="contenido-usuario">
                <div id="img-usuario">
                    <img src="../../../assets/img/img_usuario_perfil.jpg" class="card-img-top" alt="...">
                </div>
                <div id="info-usuario">
                    <div id="info-usuario-respaldo">
                        <div id="nombre-usuario">
                            <p>Nombre de usuario: Juanito</p>
                        </div>
                        <div id="inf-usuario-dos">
                            Promedio de calificaciones: 4 estrellas
                            <br> email: juanito@gmail.com
                            <br> Numero de compras: 69 compras
                            <br> Fecha creacion de cuenta: dd/mm/aaaa
                        </div>
                    </div>
                </div>
            </div>
            <div id="comentarios">

            </div>
            <div id="opciones">
                <input type="number" name="" id="" value="1">
                <p>Dias</p>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
        </div>
    </div>
</div>