* {
    background-color: #212529;
    color: white !important;
}

#contenido-total {
    background-color: #212529;
    padding-top: 10px;
    padding-left: 100px;
    overflow-y: auto;
    z-index: 1200;
    position: fixed;
    width: 100%;
    margin-bottom: 100px;
    display: flex;
}

#contenido-total,
#contenido-total::before,
#contenido-total::after {
    box-sizing: inherit;
}

#contenido-total nav {
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center !important;
}

li {
    margin: 0px 50px 0px 50px;
}