<div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" style="margin-top: 100px;">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"> <a href="#"> Opciones de administrador </a> </li>
            <li> <a (click)="verMenuPrincipal()">Menu principal</a> </li>
            <li> <a (click)="verListadoDeProductos()">Listado de producto</a> </li>
            <li> <a (click)="verABMProductos()">ABM de producto</a> </li>
            <li> <a (click)="verListaUsuarios()">Lista usuarios</a> </li>
            <li> <a (click)="verABMUsuarios()">Detalle de usuario</a> </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>