<app-navigation-menu-user></app-navigation-menu-user>
<div *ngIf="auth.user$|async as user" id="contenido-principal">
    <div id="img-perfil-usuario">
        <div id="contenedor-img-perfil">
            <img [src]="user.picture" class="rounded-circle img-fluid" alt="...">
        </div>
    </div>
    <div id="datos-usuario">
        <table id="datos-formato-tabla">
            <tr>
                <td>
                    <div class="input-group mb-3">
                        <p class="descripcion-input" id="label-id">ID de usuario:</p>
                    </div>
                    <!-- <p class="descripcion-input" id="label-id">ID de producto:</p> -->
                </td>
                <td>
                    <div class="input-group mb-3">
                        <input [(ngModel)]="usuarioSeleccionado.idUsuario" aria-label="Username" aria-describedby="basic-addon1" placeholder="ID:" class="form-control input-formato-pequenio" type="text" name="id-producto" id="id-producto" disabled="">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group mb-3">
                        <p class="descripcion-input" id="label-id">Nombre:</p>
                    </div>
                    <!-- <p class="descripcion-input" id="label-id">ID de producto:</p> -->
                </td>
                <td>
                    <div class="input-group mb-3">
                        {{user.given_name}}
                    </div>
                </td>
                <td>
                    <div class="input-group mb-3">
                        <p class="descripcion-input" id="label-id">Apellido:</p>
                    </div>
                    <!-- <p class="descripcion-input" id="label-id">ID de producto:</p> -->
                </td>
                <td>
                    <div class="input-group mb-3">
                        {{user.family_name}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group mb-3">
                        <p class="descripcion-input" id="label-id">Email:</p>
                    </div>
                    <!-- <p class="descripcion-input" id="label-id">ID de producto:</p> -->
                </td>
                <td>
                    <div class="input-group mb-3">
                        {{user.email}}
                    </div>
                </td>
                <td>
                    <div class="input-group mb-3">
                        <p class="descripcion-input" id="label-id">Contraseña:</p>
                    </div>
                    <!-- <p class="descripcion-input" id="label-id">ID de producto:</p> -->
                </td>
                <td>
                    <div class="input-group mb-3">
                        <input [(ngModel)]="password" aria-label="Username" aria-describedby="basic-addon1" placeholder="ID:" class="form-control input-formato-pequenio" name="id-producto" id="id-producto">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button (click)="actualizarDatosUsuario()" type="button" class="btn btn-info" aria-label="Guardar">Guardar</button>
                </td>
            </tr>
        </table>

    </div>
</div>