<app-navigation-menu-user></app-navigation-menu-user>
<div id="contenido-principal">
    <div id="img-perfil-usuario">
        <div id="contenedor-img-perfil">
            <img src="../../../assets/img/mujer_perfil.jpg" />
        </div>
    </div>
    <div id="datos-usuario">
        <table id="datos-formato-tabla">
            <tr>
                <td>
                    <div class="input-group mb-3">
                        <p class="descripcion-input" id="label-id">ID de usuario:</p>
                    </div>
                    <!-- <p class="descripcion-input" id="label-id">ID de producto:</p> -->
                </td>
                <td>
                    <div class="input-group mb-3">
                        <input [(ngModel)]="usuarioModificado.id_usuario" aria-label="Username" aria-describedby="basic-addon1" placeholder="ID:" class="form-control input-formato-pequenio" type="text" name="id-producto" id="id-producto" disabled="">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group mb-3">
                        <p class="descripcion-input" id="label-id">Nombre:</p>
                    </div>
                    <!-- <p class="descripcion-input" id="label-id">ID de producto:</p> -->
                </td>
                <td>
                    <div class="input-group mb-3">
                        <input [(ngModel)]="usuarioModificado.nombre" aria-label="Username" aria-describedby="basic-addon1" placeholder="ID:" class="form-control input-formato-pequenio" type="text" name="id-producto" id="id-producto">
                    </div>
                </td>
                <td>
                    <div class="input-group mb-3">
                        <p class="descripcion-input" id="label-id">Apellido:</p>
                    </div>
                    <!-- <p class="descripcion-input" id="label-id">ID de producto:</p> -->
                </td>
                <td>
                    <div class="input-group mb-3">
                        <input [(ngModel)]="usuarioModificado.apellido" aria-label="Username" aria-describedby="basic-addon1" placeholder="ID:" class="form-control input-formato-pequenio" type="text" name="id-producto" id="id-producto">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group mb-3">
                        <p class="descripcion-input" id="label-id">Email:</p>
                    </div>
                    <!-- <p class="descripcion-input" id="label-id">ID de producto:</p> -->
                </td>
                <td>
                    <div class="input-group mb-3">
                        <input [(ngModel)]="usuarioModificado.email" aria-label="Username" aria-describedby="basic-addon1" placeholder="ID:" class="form-control input-formato-pequenio" type="text" name="id-producto" id="id-producto">
                    </div>
                </td>
                <td>
                    <div class="input-group mb-3">
                        <p class="descripcion-input" id="label-id">Contraseña:</p>
                    </div>
                    <!-- <p class="descripcion-input" id="label-id">ID de producto:</p> -->
                </td>
                <td>
                    <div class="input-group mb-3">
                        <input [(ngModel)]="usuarioModificado.password" aria-label="Username" aria-describedby="basic-addon1" placeholder="ID:" class="form-control input-formato-pequenio" type="password" name="id-producto" id="id-producto">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-info" aria-label="Guardar">Guardar</button>
                </td>
            </tr>
        </table>

    </div>
</div>