<div id="pagina-principal">
    <div id="bienvenido">
        <h2>Bienvenido</h2>
    </div>
    <div id="titulo">
        <i id="icono" class="fa-solid fa-users"></i>
        <h1>USUARIOS DE LA TIENDA</h1>
    </div>
    <div id="contenedor-tabla">
        <div id="img-fondo">
            <table class="table table-striped" id="tabla-usuarios">
                <tr>
                    <th class="Nombre" scope="col">Nombre usuario</th>
                    <th class="Email" scope="col">Email</th>
                    <th classscope="col">Opción</th>
                </tr>
                <tr>
                    <td>Juanito</td>
                    <td>juanito@gmail.com</td>
                    <td>
                        <div id="opciones-botones-usuario">
                            <button type="button" class="btn btn-primary" (click)="verMas(1)">Ver mas</button>
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Juanito</td>
                    <td>juanito@gmail.com</td>
                    <td>
                        <div id="opciones-botones-usuario">
                            <button type="button" class="btn btn-primary" (click)="verMas(1)">Ver mas</button>
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Juanito</td>
                    <td>juanito@gmail.com</td>
                    <td>
                        <div id="opciones-botones-usuario">
                            <button type="button" class="btn btn-primary" (click)="verMas(1)">Ver mas</button>
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Juanito</td>
                    <td>juanito@gmail.com</td>
                    <td>
                        <div id="opciones-botones-usuario">
                            <button type="button" class="btn btn-primary" (click)="verMas(1)">Ver mas</button>
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Juanito</td>
                    <td>juanito@gmail.com</td>
                    <td>
                        <div id="opciones-botones-usuario">
                            <button type="button" class="btn btn-primary" (click)="verMas(1)">Ver mas</button>
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Juanito</td>
                    <td>juanito@gmail.com</td>
                    <td>
                        <div id="opciones-botones-usuario">
                            <button type="button" class="btn btn-primary" (click)="verMas(1)">Ver mas</button>
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Juanito</td>
                    <td>juanito@gmail.com</td>
                    <td>
                        <div id="opciones-botones-usuario">
                            <button type="button" class="btn btn-primary" (click)="verMas(1)">Ver mas</button>
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>