<div id="fondo-de-pagina">
    <h2 id="bienvenido">Bienvenido ...</h2>
    <h1 id="titulo-principal">MENU PRINICIPAL</h1>
    <div id="contenido">
        <div id="img-fondo">
            <table id="opciones-menu">
                <tr>
                    <td>
                        <div id="buscador-productos" (click)="verProductosTienda()">
                            <img src="./../../../assets/img/muestra-secundaria.jpg">
                            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                        </div>
                    </td>
                    <td>
                        <div id="buscador-productos">
                            <img src="./../../../assets/img/polera-deportiva.jpg">
                            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                        </div>
                    </td>
                    <td>
                        <div id="buscador-productos">
                            <img src="./../../../assets/img/modelo-ropa-deportiva.jpg">
                            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="buscador-productos">
                            <img src="./../../../assets/img/muestra-secundaria.jpg">
                            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                        </div>
                    </td>
                    <td>
                        <div id="buscador-productos">
                            <img src="./../../../assets/img/muestra-secundaria.jpg">
                            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                        </div>
                    </td>
                    <td>
                        <div id="buscador-productos">
                            <img src="./../../../assets/img/muestra-secundaria.jpg">
                            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="buscador-productos">
                            <img src="./../../../assets/img/muestra-secundaria.jpg">
                            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                        </div>
                    </td>
                    <td>
                        <div id="buscador-productos">
                            <img src="./../../../assets/img/muestra-secundaria.jpg">
                            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                        </div>
                    </td>
                    <td>
                        <div id="buscador-productos">
                            <img src="./../../../assets/img/muestra-secundaria.jpg">
                            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>