<div id="cuerpo-principal">
    <h2 id="bienvenido">Bienvenido</h2>
    <div id="contenedor-titulo-principal">
        <h1 id="titulo-principal">MENU PRINICIPAL</h1>
    </div>
    <div id="contenido">

        <div id="img-fondo">
            <div (click)="verProductosTienda()" class="card opcion-menu" style="">
                <div style="height: 70%; width: 100%; overflow: hidden;">
                    <img src="../../../assets/img/productos_tienda.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body" style="display: flex; justify-content: center; padding: 10px;">
                    <p class="card-text">Productos de la tienda</p>
                </div>
            </div>
            <div (click)="verCategoriaProducto()" class="card" class="card opcion-menu" style="">
                <div style="height: 70%; width: 100%; overflow: hidden;">
                    <img src="../../../assets/img/categorias.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body" style="display: flex; justify-content: center; padding: 10px;">
                    <p class="card-text">Categorias de la tienda</p>
                </div>
            </div>
            <div (click)="verUsuarioTienda()" class="card opcion-menu" style="">
                <div style="height: 70%; width: 100%; overflow: hidden;">
                    <img src="../../../assets/img/opcion_usuarios.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body" style="display: flex; justify-content: center; padding: 10px;">
                    <p class="card-text">Verificar usuarios</p>
                </div>
            </div>
            <div (click)="verVentasProductos()" class="card opcion-menu" style="">
                <div style="height: 70%; width: 100%; overflow: hidden;">
                    <img src="../../../assets/img/fondo_ventas2.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body" style="display: flex; justify-content: center; padding: 10px;">
                    <p class="card-text">Verificar ventas de productos</p>
                </div>
            </div>
            <!-- <div (click)="verProductosTienda()" id="buscador-productos" class="card">
                <img src="./../../../assets/img/polera-deportiva.jpg">
                <p class="descripcion-input" id="label-id">Productos de la tienda</p>
            </div>
            <div id="buscador-productos" class="card">
                <img src="./../../../assets/img/categorias.jpg">
                <p class="descripcion-input" id="label-id">Categorias de la tienda</p>
            </div>
            <div (click)="verUsuarioTienda()" id="buscador-productos" class="card">
                <div class="img-opcion">
                    <img src="./../../../assets/img/opcion_usuarios.jpg">
                </div>
                <p class="descripcion-input" id="label-id">Verificar usuarios</p>
            </div> -->
            <!-- <table id="opciones-menu">
                <tr>
                    <td>
                        <div id="buscador-productos">
                            <img src="../src/img/muestra-secundaria.jpg">
                            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                        </div>
                    </td>
                    <td>
                        <div id="buscador-productos">
                            <img src="../src/img/polera-deportiva.jpg">
                            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                        </div>
                    </td>
                    <td>
                        <div id="buscador-productos">
                            <img src="../src/img/modelo-ropa-deportiva.jpg">
                            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="buscador-productos">
                            <img src="../src/img/muestra-secundaria.jpg">
                            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                        </div>
                    </td>
                    <td>
                        <div id="buscador-productos">
                            <img src="../src/img/muestra-secundaria.jpg">
                            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                        </div>
                    </td>
                    <td>
                        <div id="buscador-productos">
                            <img src="../src/img/muestra-secundaria.jpg">
                            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="buscador-productos">
                            <img src="../src/img/muestra-secundaria.jpg">
                            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                        </div>
                    </td>
                    <td>
                        <div id="buscador-productos">
                            <img src="../src/img/muestra-secundaria.jpg">
                            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                        </div>
                    </td>
                    <td>
                        <div id="buscador-productos">
                            <img src="../src/img/muestra-secundaria.jpg">
                            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                        </div>
                    </td>
                </tr>
            </table> -->
        </div>
    </div>
</div>