<h2 id="bienvenido">Bienvenido</h2>
<div id="contenedor-titulo-principal">
    <h1 id="titulo-principal">MENU PRINICIPAL</h1>
</div>
<div id="contenido">
    <div id="img-fondo">
        <div (click)="verProductosTienda()" id="buscador-productos">
            <img src="./../../../assets/img/polera-deportiva.jpg">
            <p class="descripcion-input" id="label-id">Productos de la tienda</p>
        </div>
        <div id="buscador-productos">
            <img src="./../../../assets/img/categorias.jpg">
            <p class="descripcion-input" id="label-id">Categorias de la tienda</p>
        </div>
        <!-- <table id="opciones-menu">
            <tr>
                <td>
                    <div id="buscador-productos">
                        <img src="../src/img/muestra-secundaria.jpg">
                        <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                    </div>
                </td>
                <td>
                    <div id="buscador-productos">
                        <img src="../src/img/polera-deportiva.jpg">
                        <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                    </div>
                </td>
                <td>
                    <div id="buscador-productos">
                        <img src="../src/img/modelo-ropa-deportiva.jpg">
                        <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="buscador-productos">
                        <img src="../src/img/muestra-secundaria.jpg">
                        <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                    </div>
                </td>
                <td>
                    <div id="buscador-productos">
                        <img src="../src/img/muestra-secundaria.jpg">
                        <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                    </div>
                </td>
                <td>
                    <div id="buscador-productos">
                        <img src="../src/img/muestra-secundaria.jpg">
                        <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="buscador-productos">
                        <img src="../src/img/muestra-secundaria.jpg">
                        <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                    </div>
                </td>
                <td>
                    <div id="buscador-productos">
                        <img src="../src/img/muestra-secundaria.jpg">
                        <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                    </div>
                </td>
                <td>
                    <div id="buscador-productos">
                        <img src="../src/img/muestra-secundaria.jpg">
                        <p class="descripcion-input" id="label-id">Productos de la tienda</p>
                    </div>
                </td>
            </tr>
        </table> -->
    </div>
</div>