<app-navigation-menu-user></app-navigation-menu-user>
<div id="contenido-principal">
    <div>
        <h2 style="margin-left: 50px;">TU CUENTA</h2>
    </div>
    <div id="opciones">
        <div class="card opcion-menu" style="">
            <div style="height: 70%; width: 100%; overflow: hidden;">
                <img src="../../../assets/img/tus-pedidos.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body" style="display: flex; justify-content: center; padding: 10px;">
                <p class="card-text">Tus pedidos</p>
            </div>
        </div>
        <div (click)="verComprasUsuario()" class="card" class="card opcion-menu" style="">
            <div style="height: 70%; width: 100%; overflow: hidden;">
                <img src="../../../assets/img/tus-pagos2.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body" style="display: flex; justify-content: center; padding: 10px;">
                <p class="card-text">Tus compras</p>
            </div>
        </div>
        <div (click)="verDatosPerfil()" class="card opcion-menu" style="">
            <div style="height: 70%; width: 100%; overflow: hidden;">
                <img src="../../../assets/img/tu-perfil.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body" style="display: flex; justify-content: center; padding: 10px;">
                <p class="card-text">Tu perfil</p>
            </div>
        </div>
    </div>

</div>