* {
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
    font-family: 'Lobster', cursive;
    font-family: 'Handlee', cursive;
    font-weight: 700;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
}

.btn {
    width: 100px;
    height: 50px;
    margin: 10px 10px;
    background-color: #085394;
    color: #eeeeee;
}

.btn:hover {
    color: #085394;
    background-color: #eeeeee;
}

.btn-danger {
    background-color: rgb(255, 72, 72);
    color: #eeeeee;
}

.btn-danger:hover {
    color: red;
    background-color: #eeeeee;
}

#todo-contenido {
    width: 100%;
    height: 100%;
}

#div-titulo-principal {
    width: 100%;
    height: 80px;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 0px 0px 10px 0px;
    padding-top: 20px;
}

#titulo-principal {
    color: #085394;
    margin-bottom: 10px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 32px;
    text-decoration: underline;
}

@media(max-width:750px) {
    #titulo-principal {
        font-size: 24px;
        margin: 0;
    }
}

#contenido {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*No sirve en display-inline*/
    /*No sirve en display:inline*/
}

@media(max-width:750px) {
    #contenido {
        width: 100%;
        display: flex;
        text-align: center;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }
}

#imagenes {
    float: left;
    align-items: center;
    width: 33.33%;
    height: 600px;
}

@media(max-width:750px) {
    #imagenes {
        width: 100%;
        margin-left: 10px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

#datos {
    float: left;
    width: 60%;
    padding: 10px 40px;
}

@media(max-width:750px) {
    #datos {
        width: 90%;
    }
}

#clasificador-imagenes {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 10px;
    width: 75%;
    border: 2px #085394 solid;
    overflow: hidden;
}

@media(max-width:750px) {
    #clasificador-imagenes {
        width: 90%;
    }
}

#img-principal {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
}

table {
    width: 700px;
}

#imgs-secundarias {
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    background-color: #eeeeee;
    height: 25%;
    margin-top: 30px;
    width: 100%;
}

#descp-input {
    width: 90%;
}

.descripcion-input {
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
}

#buscador-productos {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-basis: 10px;
    padding: 10px 10px;
    width: 100%;
    height: 80px;
    background-color: #eeeeee;
    margin-top: 30px;
    border: 2px solid #085394;
}

@media(max-width:750px) {
    #buscador-productos {
        height: 80px;
        font-size: 24px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #btn-buscador {
        display: inline;
    }
}

#label-id {
    display: inline;
    /*Mejor que float*/
}

#datos-formato-tabla {
    width: 90%;
    height: 220px;
}

#datos-formato-pequenio {
    display: none;
    visibility: hidden;
}

#descripcion-seccion {
    width: 100%;
}

@media(max-width:750px) {
    #datos-formato-tabla {
        display: none;
        visibility: hidden;
    }
    #descripcion-seccion {
        display: none;
        visibility: hidden;
    }
    #datos-formato-pequenio {
        display: flex;
        flex-direction: column;
        visibility: visible;
        width: 100%;
    }
    .input-formato-pequenio {
        width: 90%;
    }
}

.btn-formato-general {
    background-color: #085394;
    color: white;
    border: 2px black solid;
    padding: 5px 10px;
    margin: 10px;
}

#datos-principales {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    padding: 10px 0px 10px 3%;
    margin: 30px 10px 10px 0px;
    border: 2px solid #085394;
    width: 97%;
    background-color: #eeeeee;
}

@media(max-width:750px) {
    #datos-principales {
        flex-direction: column;
    }
}

#botones-inline {
    display: inline;
}

@media(max-width:750px) {
    p.descripcion-input {
        font-size: 16px;
    }
}

@media(max-width:750px) {
    #titulo-principal {
        font-size: 24px;
    }
}

#carouselExampleIndicators {
    width: 80%;
    height: 200px;
    overflow: hidden;
}

.input-formato-pequenio {
    background-color: white;
}