<div id="todo-contenido">
    <div id="div-titulo-principal">
        <h1 id="titulo-principal">REGISTRO DE PRODUCTOS</h1>
    </div>
    <div id="contenido">
        <div id="imagenes">
            <div id="clasificador-imagenes">
                <div style="width: 80%; height: 200px;overflow: hidden;">
                    <img src="./../../../assets/img/modelo-ropa-deportiva.jpg" alt="">
                </div>
                <p>Cargar imagen principal</p>
                <input class="btn-cargar-img" type="file" value="Cargar img principal" name="Cargar">
                <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../../assets/img/polera-deportiva.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/img/modelo-ropa-deportiva.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div id="imgs-secundarias">
                    <input class="btn-cargar-img" type="file" value="Cargar img secundaria">
                </div>
            </div>
        </div>
        <div id="datos">
            <div id="buscador-productos">
                <p class="descripcion-input">Nombre del producto:</p>
                <div class="input-group mb-3">
                    <input aria-label="Username" aria-describedby="basic-addon1" class="form-control" type="text" name="nombre" id="nombre" [(ngModel)]="nombre" [(ngModel)]="productoBuscado.nombre">
                </div>
                <div id="btn-buscador">
                    <button type="button" class="btn btn-primary" (click)="buscarProductoPorID()">Buscar</button>
                </div>
            </div>
            <div id="datos-principales">
                <div id="datos-formato-pequenio">
                    <p class="descripcion-input" name="nombre">Nombre del producto:</p>
                    <input class="input-formato-pequenio" type="text" name="nombre" id="nombre" [(ngModel)]="nombre">
                    <p class="descripcion-input">Tipo de producto:</p>
                    <select class="input-formato-pequenio" name="tipo-producto" id="tipo-producto">
                        <option value="Ropa deportiva">Ropa deportiva</option>
                        <option value="Ropa casual">Ropa casual</option>
                    </select>
                    <p class="descripcion-input">Cantidad de producto:</p>
                    <input class="input-formato-pequenio" type="number" name="cantidad" id="cantidad">
                    <p class="descripcion-input">Talla:</p>
                    <select class="input-formato-pequenio" id="talla" name="talla">
                        <option id="S">S</option>
                        <option id="M">M</option>
                        <option id="X">X</option>
                        <option id="XL">XL</option>
                    </select>
                    <p class="descripcion-input">Precio:</p>
                    <input class="input-formato-pequenio" type="number" name="precio" id="precio">
                    <p class="descripcion-input">Color:</p>
                    <select class="input-formato-pequenio" id="color" name="color">
                        <option value="azul">Azul</option>
                        <option value="verde">Verde</option>
                        <option value="amarillo">Amarillo</option>
                        <option value="rojo">Rojo</option>
                    </select>
                    <p class="descripcion-input">Descripcion del producto</p>
                    <textarea class="input-formato-pequenio" name="descripcion" rows="8" cols="110">Escriba una descripcion</textarea>
                    <div id="botones-inline">
                        <input class="btn-formato-general" type="button" value="Actualizar">
                        <input class="btn-formato-general" type="button" value="Registrar">
                    </div>
                </div>



                <!------------------------------------------------------------------------------------------------------------------------------>
                <table id="datos-formato-tabla">
                    <tr>
                        <td>
                            <div class="input-group mb-3">
                                <p class="descripcion-input" id="label-id">ID de producto:</p>
                            </div>
                            <!-- <p class="descripcion-input" id="label-id">ID de producto:</p> -->
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <input [(ngModel)]="productoBuscado.idProducto" aria-label="Username" aria-describedby="basic-addon1" placeholder="ID:" class="form-control input-formato-pequenio" type="text" name="id-producto" id="id-producto">
                            </div>
                        </td>
                        <td>
                            <p class="descripcion-input">Categoria:</p>
                        </td>
                        <td>
                            <select [(ngModel)]="productoBuscado.idCategoria" class="form-select" aria-label="Default select example">
                                <option *ngFor="let c of categorias" value="{{c.idCategoria}}">
                                    {{c.nombre}}
                                </option>
                            </select>
                            <button type="button" class="btn btn-primary" (click)="open(content)">Agregar categoria</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="descripcion-input">Cantidad de producto:</p>
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <input aria-label="" aria-describedby="basic-addon1" placeholder="..." class="form-control input-formato-pequenio" type="number" name="cantidad" id="cantidad">
                            </div>
                        </td>
                        <td>
                            <p class="descripcion-input">Talla:</p>
                        </td>
                        <td>
                            <select id="talla" name="talla" class="form-select" aria-label="Default select example">
                                <option id="S">S</option>
                                <option id="M">M</option>
                                <option id="X">X</option>
                                <option id="XL">XL</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="descripcion-input">Precio:</p>
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <input [(ngModel)]="productoBuscado.precio" aria-label="" aria-describedby="basic-addon1" placeholder="..." class="form-control input-formato-pequenio" type="number" name="precio" id="precio">
                            </div>
                        </td>
                        <td>
                            <p class="descripcion-input">Color:</p>
                        </td>
                        <td>
                            <select id="color" name="color" class="form-select" aria-label="Default select example">
                                <option value="azul">Azul</option>
                                <option value="verde">Verde</option>
                                <option value="amarillo">Amarillo</option>
                                <option value="rojo">Rojo</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <div id="descripcion-seccion">
                    <p class="descripcion-input">Descripcion del producto</p>
                    <div class="form-group">
                        <textarea class="form-control rounded-0" id="descp-input" name="descripcion" rows="8" cols="120" [(ngModel)]="productoBuscado.descripcion">Escriba una descripcion</textarea>
                    </div>
                    <div id="botones-inline">
                        <button type="button" class="btn btn-primary" (click)="agregarProducto()">Registrar</button>
                        <button type="button" class="btn btn-primary" (click)="actualizarProducto()">Actualizar</button>
                        <button type="button" class="btn btn-danger" (click)="eliminarProducto()">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Agregar nueva categoria</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="dateOfBirth">Nombre de la nueva categoria</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="recipient-name" [(ngModel)]="nueva_categoria">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close(nueva_categoria)">Save</button>
        </div>
    </ng-template>
</div>